@tailwind base;
@tailwind components;
@tailwind utilities;


/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(99, 121, 142);
  border-radius: 25px;
  cursor: grab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(130, 159, 186);
}


/* drag */
.titlebar {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.titlebar-button {
  -webkit-app-region: no-drag;
}
